/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
	font-family: var(--accent-font, sans-serif), sans-serif;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	min-inline-size: 320px;
	min-block-size: 100dvb;
}

@supports (font-variation-settings: normal) {
	.page {
		font-family: var(--main-font, sans-serif), sans-serif;
		font-variation-settings: 'wght' var(--card-font-width-text, 400);
	}
}

.container {
	margin-inline: auto;
	margin-block: 0;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-block-start: 102px;
	border: 2px solid var(--header-border-color, #000);
	/* padding-inline: clamp(14px, 5vw, 120.5px); */
	/* padding-block: clamp(120px, 12vw, 128px); */
	/* padding-inline: 120.5px; 
	padding-block: 128px; */
	font-family: var(--accent-font, serif), serif;
	text-transform: uppercase;
	background-color: var(--header-bg-color, #fff);
	inline-size: clamp(375px, 50vw, 700px);
	block-size: clamp(327px, 50vi, 368px);
	/* inline-size: 700px; */
}

.header__title {
	font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__text {
	font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

